<div class="container">
  <div class="header">
    <h1>🔢 Matemática</h1>
    <button class="btn-voltar" (click)="voltar()">← Voltar</button>
  </div>

  <h2>Escolha uma Sala</h2>
  <p *ngIf="carregando" class="vazio">Carregando salas...</p>
  <p *ngIf="!carregando && salas.length === 0" class="vazio">Nenhuma sala disponível.</p>

  <div class="salas-grid" *ngIf="!carregando && salas.length > 0">
    <div class="sala-card" *ngFor="let sala of salas" >
      <div class="sala-icon">🔢</div>
      <span class="badge" [class]="'badge-' + sala.dificuldade.toLowerCase()">
        {{ nomeDificuldade(sala.dificuldade) }}
      </span>
      <p class="sala-id">Sala #{{ sala.id }}</p>
      <button class="btn-audio" (click)="falar(nomeDificuldade(sala.dificuldade)); $event.stopPropagation()">🔊</button>
      <button class="btn-entrar" (click)="entrar(sala); $event.stopPropagation()">
        Entrar →
      </button>
    </div>
  </div>
</div>
